body {
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

blockquote {
    color: darkgray;
}

.imgLink {
    text-decoration: none;
}

.imgLink img {
    width: 20px;
    height: auto;
}

.imgLink span {
    /* Only underline the text part of imgLink */
    text-decoration: underline;
}
