$header-height: 19px;
$left-indent: 60px;

* {
  font-family: 'Cambria';
}

.name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.pic-links {
  text-align: center;
}

.pic-link {
  display: inline-block;
  height: 32px; 
  padding-left: 16px;
}

.pic {
  max-width: 16px;
  width: auto;
  height: auto;
  vertical-align: middle;
  padding-right: 5px;
  padding-top: 2px;
}

.pic-link-text {
  color: black;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
}

.header {
  display: flex;
  width: 89%;
  margin: auto;
  padding-top: 9px;
  margin-right: 48px;
}

.header-text {
  font-size: $header-height;
  display: inline-block;
  white-space: nowrap;
}

.line {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid black;  
  height: $header-height;
  margin-left: 5px;
}

.education {
  padding-bottom: 9px;
}

.experience {
  margin-bottom: -5px;
}

.split-content {
  width: 86%;
  display: flex;
  justify-content: space-between;
  margin-left: $left-indent;
  font-size: 14px;
  padding-top: 3px;
}

.split-content .heading {
  font-size: 16.5px;  
  padding-top: 8px;
}

.split-content .non-heading {
  padding-top: 9px;
}

.bold-left {
  font-size: 15px;  
}

ul {
  padding: 0;
  margin: auto;  
  padding-left: 75px;
  padding-right: 45px;
  font-size: 13.7px;
}

li {
  padding-top: 3px;
}

table {
  font-size: 14px;
  padding-left: $left-indent;
  padding-top: 5px;
}

td {
  padding-right: 25px;
}

.right, .left {
  display: inline-block;
}

.right {
  width: 60%;
  text-align: right;
}

.honors-and-activities {
  padding-bottom: 7px;  
}

.line-item {
  font-size: 14px;
  padding-left: $left-indent;
  padding-bottom: 2px;
}
