@import url('https://fonts.googleapis.com/css?family=Roboto:500,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

/* * {
  border: 1px solid black;
} */

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

Link, a {
  color: black;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.header {
  display: flex;
  max-width: 55rem;
  padding: 1.5rem 3.5rem 0 0;
  margin: auto;
  text-align: center;
}

.header__text {
  font-size: 23px;
  font-weight: 700;
  width: 200px;
}

.header__text:hover {
  text-decoration: underline;
}

.hr {
  width: 100%;
}

.bottomBorder {
  border-bottom: 2px solid black;
  height: 50%;
}

.text {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 21px;
  padding: 0 1rem 1rem 1rem;
  max-width: 45rem;
  margin: auto;
}

.text a {
  text-decoration: underline;
}

.text b {
  font-weight: 700;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.8rem;
}

blockquote {
  font-style: italic;
  color: gray;
}

.album-cover-container {
  width: 75%; 
  margin: auto;
}

.animateInLeft {
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animateIn {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.growLeft {
  transform: scaleX(0);
  transform-origin: left;
  animation: growLeft 0.6s cubic-bezier(0.68, 0.11, 0.44, 0.41) forwards;
  animation-delay: 0.2s;
}

@keyframes growLeft {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.tiles * {
  margin: 2rem;
  display: inline-block;
}

.header__link a {
  margin: 0;
}

.tiles {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 700px) {
  .header {
    width: 98%;
  }

  .text {
    font-size: 18px;
  }

  .header__text {
    font-size: 20px;
    width: 220px;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .tiles * {
    margin: 1.4rem;
  }

  .album-cover-container {
    width: 100%;
  }
}
