@import url('https://fonts.googleapis.com/css?family=Roboto:500,900');

/* * {
  border: 1px solid black;
} */

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

Link, a {
  color: black;
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.header {
  display: flex;
  width: 98%;
  margin-top: 1.5rem;
  text-align: center;
}

.header__text {
  font-size: 23px;
  font-weight: 700;
  width: 200px;
}

.header__text:hover {
  text-decoration: underline;
}

.hr {
  width: 100%;
}

.bottomBorder {
  border-bottom: 2px solid black;
  height: 50%;
}

.text {
  font-weight: 400;
  font-size: 21px;
  padding-left: 4.5vw;
  max-width: 100rem;
  width: 90%;
}

.text a {
  text-decoration: underline;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.animateInLeft {
  opacity: 0;
  animation: fadeInLeft 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animateIn {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.growLeft {
  transform: scaleX(0);
  transform-origin: left;
  animation: growLeft 0.6s cubic-bezier(0.68, 0.11, 0.44, 0.41) forwards;
  animation-delay: 0.2s;
}

@keyframes growLeft {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.tiles * {
  margin: 2rem;
  display: inline-block;
}

.header__link a {
  margin: 0;
}

.tiles {
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .text {
    font-size: 18px;
  }

  .header__text {
    font-size: 20px;
    width: 220px;
  }

  .tiles * {
    margin: 1.4rem;
  }
}
