#email {
  text-decoration: none;
  color: black;
}

#email:hover {
  text-decoration: underline;
}

#footer {
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
  line-height: 2.5vw;
}

.animate-footer-in {
  opacity: 0;
  animation: fade-in-left 1s ease forwards;
  animation-delay: .8s;
}

.animate-footer-out {
  opacity: 1;
  animation: fade-out-bottom 1s ease forwards;
}

@keyframes fade-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}


@media screen and (max-width: 700px) {
  #footer {
    font-size: 2.5vw;
    line-height: 4vw;
  }
}
