.header {
  display: table;
  height: 80vh;
  width: 100%;
}

.header__text {
  display: table-cell;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  user-select: none;
}

.white-on-black {
  background-color: black;
  color: white;
}

.black-on-white {
  background-color: white;
  color: black;
}

.header__text__hello,
.header__text__name {
  margin-left: 5vw;
}

.header__text__hello {
  padding-top: 30vh;
  font-size: 3vw;
}

.header__text__name {
  font-size: 15vw;
  width: 50vw;
}

.header__text__name * {
  display: inline; /* Start the nickname continuation on the same line */
}

@media only screen and (max-width: 700px) {
  .header {
    height: 50vh;
  }

  .header__text__hello,
  .header__text__name {
    margin: auto;
    text-align: center;
    width: 70vw;
  }

  .header__text__hello {
    font-size: 5vw;
  }

  .header__text__name {
    font-size: 20vw;
  }
}
