hr {
  width: 90vw;
  color: black;
}

.animate-hr-in {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-hr-out {
  transform: scaleX(1);
  transform-origin: left;
  animation: shrink-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  width: 90vw;
}

@keyframes shrink-left {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.intro-meat {
  margin-top: 6vh;
  margin-bottom: 7vh;
  text-align: center;
  height: 30vw;
}

.intro-meat * {
  display: inline-block;
  vertical-align: middle;
}

.headshot {
  width: 30vw;
  height: 30vw;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}

.headshot:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.intro-text {
  width: 45vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.8vw;
  text-align: left;
  padding-left: 7vw;
}

.animate-meat-in {
  opacity: 0;
  animation: fade-in-bottom 1s ease forwards;
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-meat-out {
  opacity: 1;
  animation: fade-out-bottom 1s ease forwards;
}

@keyframes fade-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.blue,
.green {
  font-weight: bold;
  vertical-align: top;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

@media only screen and (max-width: 700px) {
  .intro-meat {
    margin-bottom: 11vh;
  }

  .headshot {
    width: 40vw;
    height: 40vw;
  }

  .intro-text {
    font-size: 4vw;
    padding-left: 4vw;
  }
}
