.horizontalLine {
  width: 90vw;
  color: black;
}

.animateHrIn {
  transform: scaleX(0);
  transform-origin: left;
  animation: growLeft 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes growLeft {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.introMeat {
  text-align: center;
  margin: 3rem auto;
}

.headshot {
  max-width: 15rem;
  max-height: 15rem;
  width: 20vw;
  height: 20vw;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
  vertical-align: middle;
  display: inline-block;
}

.headshot:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.textSpacer {
  display: inline-block;
  max-width: 5rem;
  width: 4vw;
}

.introText {
  max-width: 40rem;
  min-width: 20rem;
  width: 35vw;
  font-size: 1.8rem;
  text-align: left;
}

.animateMeatIn {
  opacity: 0;
  animation: fadeInBottom 1s ease forwards;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 700px) {
  .introMeat {
    margin-bottom: 0;
  }

  .headshot {
    width: 11rem;
    height: 11rem;
  }

  .textSpacer {
    width: 2vw;
  }

  .introText {
    font-size: 1.2rem;
    min-width: 19rem;
    padding: 1.5rem;
  }
}
