hr {
  width: 90vw;
  color: black;
}

.animate-hr-in {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-hr-out {
  transform: scaleX(1);
  transform-origin: left;
  animation: shrink-left 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
  width: 90vw;
}

@keyframes shrink-left {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

.intro-card {
  height: 15vw;
  width: 75vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.8vw;
  background-color: #eee;
  margin: auto;
  margin-top: 6vh;
  margin-bottom: 7vh;
  border-radius: 10px;
  padding: 5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s;
}

.intro-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.animate-card-in {
  opacity: 0;
  animation: fade-in-bottom 1s ease forwards;
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-card-out {
  opacity: 1;
  animation: fade-out-bottom 1s ease forwards;
}

@keyframes fade-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.blue,
.green {
  font-weight: bold;
  display: inline;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

@media only screen and (max-width: 700px) {
  .intro-card {
    height: 28vw;
    font-size: 4.5vw;
  }
}
