.pic-link-wrapper {
  display: inline-block;
  margin: 3vw 6vw;
  vertical-align: middle;
  width: 15vw;
  height: 11vw;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 500;
  white-space: nowrap;
}

.pic-link-link {
  text-decoration: none;
  color: black;
  transition: font-size 0.2s;
  width: inherit;
}

.pic-link-wrapper * {
  cursor: pointer;
}

.pic {
  width: 7vw;
  height: 7vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 1.5vw;
  transition: width 0.2s, height 0.2s, font-size 0.2s;
}

.label {
  width: inherit;
  text-align: center;
  user-select: none;
}

.pic-link-wrapper:hover {
  font-size: 2.1vw;
}

.pic-link-wrapper:hover .pic {
  width: 7.3vw;
  height: 7.3vw;
}

.no-transitions,
.no-transitions * {
  transition: none;
}

.animate-pic-link-in {
  opacity: 0;
  animation: fade-in-left 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-pic-link-out {
  opacity: 1;
  animation: fade-out-bottom 1s ease forwards;
}

@keyframes fade-out-bottom {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@media screen and (max-width: 700px) {
  .pic-link-wrapper {
    margin: 6vw 7vw;
    width: 28vw;
    height: 15vw;
    font-size: 4vw;
  }

  .pic {
    width: 7.5vw;
    height: 7.5vw;
  }

  .pic-link-wrapper:hover {
    font-size: 4.1vw;
  }

  .pic-link-wrapper:hover .pic {
    width: 7.9vw;
    height: 7.9vw;
  }
}
