.picLinkWrapper * {
  cursor: pointer;
}

.picLinkWrapper {
  display: inline-block;
  flex: 1;
  margin: 2rem 0;
  vertical-align: middle;
  font-size: 1rem;
  white-space: nowrap;
}

.picLinkWrapper:hover {
  text-decoration: underline;
}

.pic {
  width: 3.8rem;
  height: 3.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: .6rem;
}

.picLinkLink {
  text-decoration: none;
  color: black;
  width: inherit;
}

.label {
  width: inherit;
  text-align: center;
  user-select: none;
  flex: 1;
}

@media screen and (max-width: 700px) {
  .picLinkWrapper {
    margin: 1.4rem 2.3rem;
  }
}
