a {
  text-decoration: none;
  color: black;
  transition: font-size 0.2s;
  width: inherit;
}

a:hover {
  font-size: 1.04em;
}

.story-header {
  display: table;
  width: 95vw;
  text-align: center;
  margin: 3vw;
  height: 5vw;
}

.story-header * {
  display: table-cell;
  vertical-align: middle;
}

.story-header__text {
  font-size: 23px;
  font-weight: 700;
  width: 22vw;
}

.hr * {
  display: block;
}

.top-border {
  border-top: 2px solid black;
  width: 90%;
}

.text {
  font-weight: 400;
  font-size: 21px;
  padding: 0 4vw 4vw 4vw;
}

.fade-in-left {
  opacity: 0;
  animation: fade-in-left 0.6s ease forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-bottom {
  opacity: 0;
  animation: fade-in-bottom 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grow-left {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left 0.6s cubic-bezier(0.68, 0.11, 0.44, 0.41) forwards;
  animation-delay: 0.2s;
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.tiles * {
  display: inline-block;
  margin: 3vw;
}

.tiles {
  display: inline-block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .text {
    font-size: 18px;
  }

  .story-header {
    height: 10vw;
  }

  .story-header__text {
    font-size: 20px;
    width: 45vw;
  }

  .top-border {
    width: 80%;
  }

  .tiles * {
    margin: 7vw;
  }
}
