.tile-link {
  cursor: default;
  margin: 0 !important;
}

.tile {
  cursor: default;
  user-select: none;
  font-size: 5vw;
  width: 30vw;
  height: 20vw;
  padding-top: 10vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  vertical-align: middle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
}

.tile:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
  .tile {
    font-size: 8vw;
    width: 65vw;
    height: 38vw;
    padding-top: 27vw;
  }
}
