* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: WhiteSmoke;
  font-family: Roboto;
}

#splash-header, footer  {
  background-color: #448AFF;
  color: white;
}

/* #splash-greeting {
  text-align: left;
  display: inline-block;
  max-width: 70%;
}

#splash-greeting * {
  display: block;
} */

.face {
  width: 40%;
  height: 40%;
  border-radius: 100%;
  text-align: center;
}

#splash-header h1, #splash-header p {
  font-family: "Open Sans";
  max-width: 70%;
  padding: 0% 0% 3% 3%;
  margin: auto;
}

#splash-header h1 {
  font-weight: bold;
  color: #BBDEFB;
  text-align: left;
  padding-top: .8em;
  padding-bottom: .4em;
  font-size: 4em;
  margin: auto;
}

#splash-header p {
  font-size: 1.7em;
}

.content, .tier h2, hr, .achiev, .experience { /* Everything that spans the page */
  max-width: 90%;                              /* needs to behave similarly */
  margin: auto;
}

.tier { /* Tiers make up the three main site categories: experience, achievements, and resume */
  margin: auto;
  display: block;
  padding: 0% 1.2%;
}

.tier h2 { /* Main tier heading */
  color: #448AFF;
  margin-top: 3%;
  font-size: 2.7em;
}

.tier img {
  width: 100%;
}

.content { /* Elaboration under main tier headings */
  font-family: "Open Sans";
  padding: 2% 1.5%;
  font-size: 1.3em;
}

.experience { /* Experience section sub-headings */
  font-size: 2em;
  padding: 2% 0%;
  /*color: #82B1FF;*/
  color: black;
}

.achiev { /* Achievements section sub-headings */
  font-size: 1.7em;
  padding: 1% 0%;
}

footer {
  height: 100px;
  margin: auto;
  white-space: nowrap;
  text-align: center;
}

footer * {
  display: inline-block;
  vertical-align: middle;
}

.link-wrapper {
  line-height: 100px;
}

footer img {
  width: 100%;
  height: 100%;
  -webkit-filter: opacity(100%);
  filter: opacity(100%);
  transition: 0.4s;
}

footer a {
  max-height: 50px;
  max-width: 50px;
  width: auto;
  height: auto;
  line-height: 1.5em; 
  margin: 0em 1em 0em 1em;
}

footer img:hover {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
  transition: 0.4s;
}

a {
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  font-size: inherit;
  color: inherit;
}

.name {
  font-weight: bold;
  color: #BBDEFB;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  font-size: 1em;
  cursor: default;
}

.name:hover {
  color: #2962FF;
  transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}

.content a {
  color: #448AFF;
}

.content a:after {
  border-bottom: 1px solid #448AFF;
}

.content a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: 0.5s;
}

.content a:hover:after {
  width: 100%;
}

@font-face {
  font-family: "CS";
  src: url(comic.ttf) format("truetype");
}

.fun {
  font-family: "CS", cursive;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Screen width is less than 370px (small mobile devices) */
@media only screen and (max-width: 370px) {
  #splash-header p {
    font-size: 1.2em;
  }
}

/* Screen width is less than 430px (mobile devices) */
@media only screen and (max-width: 430px) {
  #splash-header h1, #splash-header p {
    max-width: 90%;
    padding: 0% 3% 3% 3.5%;
  }

  #splash-header h1 {
    font-size: 3em;
  }

  #splash-header p {
    font-size: 1.4em;
  }

  .content {
    font-size: 1.2em;
  }

  .tier h2 {
    font-size: 1.9em;
  }

  .experience {
    font-size: 1.5em;
  }

  .achiev {
    font-size: 1.3em;
  }

  footer {
    height: 80px;
    margin-top: 3%
  }

  .link-wrapper {
    line-height: 80px;
  }

  .link-wrapper img {
    max-width: 45px;
    max-height: 45px;
    margin: 0em .7em 0em .7em;
  }
}

/* Screen width is less than 700px (tablets) */
@media only screen and (max-width: 700px) {

  #splash-header h1, #splash-header p {
    max-width: 90%;
    padding: 0% 3% 3% 3.5%;
  }

  #splash-header h1 {
    font-size: 3.3em;
  }

  #splash-header p {
    font-size: 1.5em;
  }   

  .tier h2 {
    font-size: 2.4em;
  }

  .experience {
    font-size: 1.7em;
  }

  .achiev {
    font-size: 1.5em;
  }

  footer {
    height: 100%;
    margin-top: 2%
  }
}

/* Screen width is more than 700px (laptops/desktops) */
@media only screen and (min-width: 700px) {
  .face {
    max-width: 200px;
  }

  .tier img {
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    display: block;
  }
}

/* Large screens (width larger than 1250px) */
@media only screen and (min-width: 1250px) {
  .content, .tier h2, hr, .achiev, .experience {
    max-width: 70%;
  }

  #splash-header h1, #splash-header p {
    max-width: 70%;
  }
  
  .tier img {
    max-width: 42%;
    max-height: 42%;
  }
}

/* Really large screens (width larger than 1700px) */
@media only screen and (min-width: 1700px) {
  .content, .tier h2, hr, .achiev, .experience {
    max-width: 62%;
  }

  #splash-header h1, #splash-header p {
    max-width: 40%;
  }
}
