* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

html {
  background-color: WhiteSmoke;
  font-family: Roboto;
}

header, footer  {
  background-color: DarkSlateGray;
  color: white;
}

header {
  padding: 10px 0px;
}

.content, .tier h2, hr, .achiev, .exp, header .inline-mid {
  min-width: 200px;
}

.content {
  font-family: "Open Sans";
  padding: 2% 1.5%;
  font-size: 1.2em;
}

.content, .tier h2, hr, .achiev, .exp {
  max-width: 1000px;
  margin: auto;
}

.inline-mid {
  margin: auto;
  white-space: nowrap;
  text-align: center;
}

.inline-mid * {
  display: inline-block;
  vertical-align: middle;
}

header .inline-mid {
  max-width: 500px;
  padding: .8em;
}

.face {
  width: 40%;
  height: 40%;
  border-radius: 100%;
}

.greeting {
  font-size: 3.5em;
  margin-left: 4%;
}

header .content {
  max-width: 750px;
  padding: 1% 0% 1% 3%;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

header a {
  margin: 0px 5px;
  padding: .7em;
  border: 1px solid rgba(245, 245, 245, .4);
  font-size: 1em;
}

.content a {
  color: DarkCyan;
}

.tier { /* tiers make up the three main site categories: experience, achievements, and resume */
  margin: auto;
  display: block;
  padding: 0% 1.2%;
}

.tier img {
  max-width: 42%;
  max-height: 42%;
  margin: auto;
  display: block;
}

.tier h2 { /* main tier heading */
  margin-top: 3%;
  font-size: 2.25em;
}

.exp { /* experience section sub-heading */
  font-size: 1.7em;
  padding: 2% 0%;
}

.achiev { /* achievements section sub-heading */
  font-size: 1.5em;
  padding: 1% 0%;
}

footer ul {
  font-size: 1em;
  padding: 1.5% 0%;
}

footer ul li {
  padding: 0% .4%;
}

@font-face {
  font-family: "CS";
  src: url(comic.ttf) format("truetype");
}

.fun {
  font-family: "CS", cursive;
}
